{% extends "_global/index.html" %}

{% block main %}
<div class="jumbotron mt-5">
    <h1 class="display-4">Aplikacija za kreiranje anketa</h1>
    <p class="lead">Napravite brzo i lako anketu koju možete da iskorstite za Vaše istraživanje.</p>
    <hr class="my-4">
    <p>Nakon uspešne registracije i logovanja na našem sajtu bićete u mogućnosti da kreirate i delite ankete besplatno!</p>
    <a class="btn btn-primary btn-lg" href="/projects/surveyapp/user/login/" role="button">Login</a>
</div>
{% endblock %}
