@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');

:root {
    --snake-color: #0652DD;
    --food-color: #EA2027;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

#game-board {
    background-color: #FFC312;
    width: 300px;
    height: 300px;
}
