{% extends "_global/index.html" %}

{% block main %}
<div class="jumbotron mt-5">
    <h1 class="display-4">Aplikacija za kreiranje anketa</h1>
    <p class="lead">Napravite brzo i lako anketu koju možete da iskorstite za Vaše istraživanje.</p>
    <hr class="my-4">
    <p>Nakon uspešne registracije i logovanja na našem sajtu bićete u mogućnosti da kreirate i delite ankete besplatno!</p>
    <a class="btn btn-primary btn-lg" href="/user/login/" role="button"><i class="fas fa-sign-in-alt"></i> Login</a>
    <a href="/user/register/" class="btn btn-outline-dark btn-lg">Register</a>
</div>
{% endblock %}
