@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,800&display=swap');
// GLOBAL RESET 

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GLOBAL COLOR 

$bootstrap_blue: #007bff;

// HELPER CLASS

.flex {
    display: flex;

    &.al-items {
        align-items: center;
    }

    &.js-sb {
        justify-content: space-between;
    }

    &.js-sa {
        justify-content: space-around;
    }
}


// GLOBAL STYLES 

body {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

    &.no-scroll {
        overflow-x: hidden;
    }
}

header {
    height: 10vh;
    width: 100vw;
    background: white;

    nav {
        width: 80%;
        height: 100%;
        margin: 0 auto;

        .logo {
            font-size: 1.75rem;
            text-decoration: none;   
        }

        li {
           margin-left: 25px;
           list-style: none; 

           a, a:hover {
               text-decoration: none;
               font-size: 1.3rem;
               color: black;
           }
        }
    }
}

.hero {
    height: 90vh;
    width: 90%;
    margin: 0 auto;

    img {
        max-width: 40%;
        height: 80%;
        flex-basis: 50%;
    }

    .hero__text {
        flex-basis: 50%;
        padding: 50px 10px 0 50px;
        margin-top: 150px;

        h1 {
            font-size: 3rem;
            line-height: 3.5rem;
        }

        h2 {
            font-size: 1.35rem;
            color: gray;
        }

        button {
            margin-top: 50px;
            padding: 10px 20px;
        }

    }
}
.menu {
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;

    .img-set {
        height: 300px;
        width: 300px;
    }
}